<title>{{title}}</title>
<h3>{{title}}</h3>
<p>{{content}}</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('own')">
      <img style="padding-bottom: 30px" src="" width=200px height=300px alt="Create Your Own Pizza"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('meat-lovers')">
      <!-- src="https://d2z58dca51ori0.cloudfront.net/12f5f614-30d2-4f19-9c96-49f43c06b385.png"  -->
        <!-- <div class="" style="margin-bottom: 30px; border:black solid thin; width:200px; max-width:200px; height:270px; max-height:270px;"> -->
          <img style="padding-bottom: 30px;" src="" width="200px" height="300px" alt="Meat Lover's"/>
        <!-- </div> -->
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('pepperoni-lovers')">
      <img style="padding-bottom: 30px" src="" width=200px height=300px alt="Pepperoni Lover's"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('hawaiian')">
      <img style="padding-bottom: 30px" src="" width=200px height=300px alt="Hawaiian"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('supreme-lovers')">
      <img style="padding-bottom: 30px" src="" width=200px height=300px alt="Supreme Lover's"/>
    </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <a ng-click="open('super-supreme')">
      <img style="padding-bottom: 30px" src="" width=200px height=300px alt="Super Supreme"/>
    </a>
  </div>
</div>
