<form class="form-horizontal" disabled>
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
  </div>
  <div class="modal-body">
    Order Conifirmation <br>
    User Details
    <div class="form-group">
      <label class="col-sm-3 control-label">First Name:</label>
      <div class="col-sm-9">
        <p class="form-control-static">Hello</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Last Name:</label>
      <div class="col-sm-9">
        <p class="form-control-static">Bye</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Address:</label>
      <div class="col-sm-9">
        <p class="form-control-static">123 Fake Street</p>
        <p class="form-control-static"> </p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label">Number:</label>
      <div class="col-sm-9">
        <p class="form-control-static">123456789</p>
      </div>
    </div>

    Order Details
    <div class="row">
      <div class="form-group col-sm-6">
        <label class="col-sm-5 control-label">Quantity:</label>
        <div class="col-sm-7">
          <p class="form-control-static">1</p>
        </div>
        <br>
        <label class="col-sm-5 control-label">Pizza Size:</label>
        <div class="col-sm-7">
          <p class="form-control-static">Large</p>
        </div>
        <br>
        <label class="col-sm-5 control-label">Crust Type:</label>
        <div class="col-sm-7">
          <p class="form-control-static">Stuffed Crust</p>
        </div>
      </div>

      <div class="form-group col-sm-6">
        <label class="control-label">Toppings:</label>
        <div class="row">
          <label class="col-sm-offset-1 col-sm-5 checkbox-inline">
            <input type="checkbox" value="cheese" disabled> Extra Cheese
          </label>
          <label class="col-sm-5 checkbox-inline">
            <input type="checkbox" value="bacon" checked="true" disabled> Bacon
          </label>
        </div>
        <div class="row">
          <label class="col-sm-offset-1 col-sm-5 checkbox-inline">
            <input type="checkbox" value="beef" disabled> Beef
          </label>
          <label class="col-sm-5 checkbox-inline">
            <input type="checkbox" value="beef" disabled> Chicken
          </label>
        </div>
      </div>
    </div>

  </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ng-click="ok()">Place Order</button>
      <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
