<!doctype html>
<html>
<head>
  <base href="/">
  <!-- CDN -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
  <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Local files -->
  <script src="/javascripts/app.js"></script>
  <link href="/stylesheets/style.css">
</head>
<body ng-app="myApp">
<div class="container">
  <!-- Content -->
  <div class="row">
    <div ng-view></div>
  </div>
</div>
</body>
</html>
